<div class="ui hidden divider"></div>
<div >
    <div class="ui action input">
        <input type="number"  name="sylius_cart[rewardPoints]"
               placeholder="Reward points to use...">
        <button type="submit" id="sylius-save" class="ui teal icon labeled button"><i
                    class="ticket icon"></i> {{ 'Use reward points'|trans }}</button>
    </div>
    <br>
</div>
